@mixin mobile {
    @media (min-width:320px) and (max-width:480px) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width:481px) and (max-width:992px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width:993px) and (max-width:1200px) {
      @content;
    }
  }
  
  @mixin fonts-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  @mixin fonts-paragraph {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }
