@import "mixin";

.section-title {
    @include fonts-title;
    text-align: center;
    color: #635C73;
    font-size: 26px;
    text-transform: uppercase;
}

.section-paragraph {
    @include fonts-paragraph;
    text-align: center;
    color: #323232;
    font-size: 14px;
    line-height: 20px;
}